{% extends "main.html" %}
{% block content %}

<a href="/login">Login</a>

<h2>Categories</h2>

{% if categories != [] %}
    {% for i in categories %}
        <a href='{{url_for('show_items', category=i.name )}}'>
        {{ i.name }}
        </a>
    {% endfor %}
{% endif %}


<h2>Latest Items</h2>

{% if items != [] %}
    {% for i in items %}
        <p><a href='{{url_for('show_item', category=i.Category.name, item_id=i.Item.id )}}'>
        {{ i.Item.name }}
        </a>
        ({{ i.Category.name }})
        </p>
    {% endfor %}
{% endif %}

{% endblock %}
